{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": [
      "error",
      "windows"
    ],
    "quotes": [
      "error",
      "double"
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  }
}